@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.font-serif {
  font-family: var(--font-playfair);
}

.font-sans {
  font-family: var(--font-inter);
}

::selection {
  background: #c9a24a;
  color: #0b0b0b;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}